<tr>
    <td colspan="5" class="abms-cart-pt-0">
        <div class="abms-cart-address">
            <input type="number" class="abms-input abms-w-70" value="1" />
            <select class="abms-input abms-cart-select-address">
                <option value="">Select from the saved address</option>
                <option value="1">Rika Kano, 2 Chome-1-1 Honcho, 我孫子市, Hyōgo, Japan, 270-1151</option>
                <option value="2">Momoko Matsumoto, Rokutan-24-2 Shimohasumicho, 西尾市, Kagoshima, Japan, 445-0004</option>
            </select>
            <a href="#">or add new address</a>
            <a href="#" class="abms-cart-address-remove">x</a>
        </div>
        <div class="abms-cart-more-address">
            <a href="#">+ Add another address to ship</a>
        </div>
    </td>
</tr>
